@media screen and (max-width:576px) {
  /* header section styles */
  nav ,
  .menu {
    flex-direction: column;
  }

  nav {
    padding: 50px 0;
  }

  .menu-ber {
    flex-direction: column;
    margin-left: 10px;
  }

  .follow-us-btn {
    margin-bottom: 50px;
  }

  /* banner section styles */

  .banner {
    flex-direction: column;
  }

  .banner-container {
    max-width: 100%;
    padding: 100px 0;
    text-align: center;
  }

  .banner-img {
   max-width: 100%;
  }
}

@media screen and (min-width:576px) and (max-width:990px) {
  nav {
    flex-direction: column;
  }

  .menu {
    margin-bottom: 50px;
  }

  /* banner section styles */


  .banner-container {
    margin-left: 50px;
  }
  
  .banner-img {
    margin-right: 50px;
  }
}