@media screen and (max-width:576px) {
  /* header section styles */
  nav ,
  .menu {
    flex-direction: column;
  }

  nav {
   margin: 0 auto;
  }

  .menu-ber {
    flex-direction: column;
    margin-left: 10px;
  }

  .follow-us-btn {
    margin-bottom: 50px;
  }

  /* banner section styles */

  .banner {
    flex-direction: column-reverse;
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .banner-container {
    margin: 0 10px;
  }

  .banner-container p {
    justify-content: center; 
  }

  .comunity {
    margin: auto;
    
  }

  .banner-container button {
   margin-left: 25px;
  }

  .banner-img img {
   height: 350px;
   max-width: 100%;
  }



  /* games section styles */

  /* footer section style */
  .footer {
    height: 550px;
  }

  .list ul,
  .list-2 ul {
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding-left:10px ;
  }

  .footer-icon img {
    margin-top: 20px;
    margin-left: 50px;
    padding-right: 10px;
  }
  
}

@media screen and (min-width:576px) and (max-width:990px) {
  nav {
    flex-direction: column;
    margin: auto;
  }

  .menu {
    margin-bottom: 50px;
  }

  /* banner section styles */
  
  .banner {
    margin: 0 10px;
  }

  .banner-img img {
    height: 350px;
    max-width: 100%;
   }

   /* footer section style */
  
   .footer {
    height: 400px;
  }

  .list ul{
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
    padding-left:10px ;
  }

  .list-2 ul {
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding-left:10px ;
  }
}